@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@radix-ui/colors/brown";
@import "@radix-ui/colors/brown-dark";
@import "@radix-ui/colors/sand";
@import "@radix-ui/colors/sand-dark";
@import "@radix-ui/colors/grass";
@import "@radix-ui/colors/grass-dark";
@import "@radix-ui/colors/red";
@import "@radix-ui/colors/red-dark";
@import "@radix-ui/colors/amber";
@import "@radix-ui/colors/amber-dark";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
